{% extends 'default.html' %}

{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    {% trans "Категории новостей" %}
{% endblock title %}

{% block content %}
    <h1>{% trans "Подписка на рассылки" %} {{ request.user }}</h1>
    <hr>
    {% if categorys %}
        {% for category in categorys %}
        <table>
            <tr align="left">
                <td>{{ category.cat_name }} (id: {{ category.pk }})</td>
                {% if user not in category.subscribers.all %}
                <td>
                    <button><a href="/subscribe/{{ category.pk }}/">{% trans "Подписаться" %}</a></button>
                </td>
                {% endif %}
                {% if user in category.subscribers.all %}
                <td>
                    <button><a href="/unsubscribe/{{ category.pk }}/">{% trans "Отписаться" %}</a></button>
                </td>
                {% endif %}
            </tr>
        </table>
        <br>
        {% endfor %}
    {% else %}
        <h2>{% trans "Категорий нет!" %}</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}