{% extends 'default.html' %}

{% load i18n %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    {% trans "Новости" %}
{% endblock title %}

{% block content %}
    <h1>{% trans "Поиск новостей" %}</h1>
    <hr>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="{% trans 'Найти' %}" />
   </form>
   <hr>
    <p>{% trans "Всего элементов" %}: {{ search_post|length }}</p>
   <hr>
    {% if search_post %}
        {% for post in search_post %}
        <table>
            <tr align="left">
                <td><b>{% trans "Заголовок" %}:</b></td>
                <td><a href="/{{ post.pk }}">{{ post.post_title }}</td>
            </tr>
            <tr align="left">
                <td><b>{% trans "Дата" %}:</b></td>
                <td>{{ post.create_date_time|date:'d E Y' }}</td>
            </tr>
            <tr align="left">
                <td><b>{% trans "Текст статьи" %}:</b></td>
                <td>{{ post.post_text|censor|truncatewords:20 }}</td>
            </tr>
        </table>
        <hr>
        <br>
        {% endfor %}
    {% else %}
        <h2>{% trans "Новостей нет!" %}</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}