{% extends 'default.html' %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h1>Список новостей ({{ posts|length }})</h1>
    <hr>
    {% if posts %}
        {% for post in posts %}
        <table>
            <tr align="left">
                <td><b>Заголовок:</b></td>
                <td><a href="/{{ post.pk }}">{{ post.post_title }}</td>
            </tr>
            <tr align="left">
                <td><b>Дата:</b></td>
                <td>{{ post.create_date_time|date:'d E Y' }}</td>
            </tr>
            <tr align="left">
                <td><b>Текст статьи:</b></td>
                <td>{{ post.post_text|truncatewords:20 }}</td>
            </tr>
        </table>
        <hr>
        <br>
        {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

{% endblock content %}