{% extends 'default.html' %}

{% block title %}
    Новость
{% endblock title %}

{% block content %}
    <h1>Новость №{{ post_detail.pk }}</h1>
    <table>
        <tr align="left">
            <td><h5>{{ post_detail.post_title }}</h5></td>
        </tr>
        <tr align="left">
            <td>Дата создания: {{ post_detail.create_date_time|date:'d E Y' }}</td>
        </tr>
        <tr align="left">
            <td>{{ post_detail.post_text }}</td>
        </tr>
    </table>
{% endblock content %}

# аголовок, дата публикации в формате день.месяц.год и полный текст статьи.